{% load static %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-3 ">


  <!-- Section: Links  -->
  <section class="p-3">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>About
          </h6>
          <p>
            This Blog is built on Django Web Framework and the source code is available at <a href="https://github.com/kritebh/django-blog">Github</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
           Other Projects
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Footer Menu 1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Footer Menu 2</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Footer Menu 3</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Footer Menu 4</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Social Media
          </h6>
          <p><a href="https://twitter.com/kritebh"> <i class="fa fa-twitter me-3"></i> Twitter</p></a>
          <p> <a href="https://www.instagram.com/kritebh"><i class="fa fa-instagram me-3 text-danger"></i> Instagram</p></a> 
          <p><a href="https://www.linkedin.com/in/kritebh/">
            <i class="fa fa-linkedin me-3 "></i>
            Linkedin
          </p></a>
          <p><a href="https://github.com/kritebh"><i class="fa fa-github me-3 text-secondary"></i> Github</p></a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <span class="text-reset fw-bold">Made with ❤ In India </span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->