{% extends 'blog/base.html' %}
{% block title %}Search Result - {{query}}{% endblock title %}
{% block content %}

<style>
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
</style>
<h1 class="text-center mt-3">Search Result For "{{query}}"</h1>

<div class="container mt-3">
{% if post %}
<div class="row">
{%for p in post%}
<div class="col-md-4 mb-5">
<div class="card" style="width: 18rem;">
   <a href="{% url 'detail' p.pk %}"><img src="{{p.featured_image.url}}"" class="card-img-top" alt="{{p.title}} height="165" width="250"></a>
  <div class="card-body">
    <a href="{% url 'detail' p.pk %}"><h5 class="card-title">{{p.title}}</h5></a>
    <p>By {{p.author.first_name}} on {{p.post_created_at}}</p>
    <hr>
    <p class="card-text">{{p.body|truncatechars:30|safe}}</p>
    <a href="{% url 'detail' p.pk %}" class="btn btn-primary">Continue Reading</a>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% else %}
<div class="container mt-5 d-flex justify-content-center d-flex justify-content-center">
<h3 class="text-danger text-center">Not Found</h3>
</div>
{% endif %}

{% endblock content %}